@page "/Profile/{Id}/Followers"
@inherits PageBase

<PageTitleComponent Title="@Title" />

<section>
    @if (UserFollowers == null)
    {
    }
    else if (0 < UserFollowers.Length)
    {
        @foreach (var user in UserFollowers)
        {
            <TwiHighUserComponent User="user" />
        }
    }
    else
    {
        <span>フォロワーは居ません。</span>
    }
</section>