@page "/Home"
@attribute [Authorize]
@inherits PageBase
@*
    ログイン後のページ
*@

@* タイトル *@
<PageTitle>ホーム - ツイハイ！</PageTitle>
<PageTitleComponent Title="ホーム" />

@* ツイート欄 *@
<section>
    <PostFormComponent UserAvatarUrl="@AvatarUrl" />
</section>
@* タイムライン *@
<section>
    @if (Tweets != null && Tweets.Any())
    {
        for (var index = 0; index < Tweets.Length; index++)
        {
            var tweet = Tweets[index];
            if (tweet.UserId == Guid.Empty && index + 1 < Tweets.Length)
            {
                <GapTweetsLoadButtonComponent Index=index Since=@(Tweets[index + 1].CreateAt) Until=@(tweet.CreateAt) OnClick="OnClickGetGapTweets" />
            }
            else if (tweet.UserId == Guid.Empty && Tweets.Length <= index + 1)
            {
                <GapTweetsLoadButtonComponent Index=index Since=@(DateTimeOffset.MinValue) Until=@(tweet.CreateAt) OnClick="OnClickGetGapTweets" />
            }
            else
            {
                <TweetComponent Tweet="tweet" IsMyTweet=@(tweet.UserId == MyTwiHithUserId) OnDeleteAction="OnClickDeleteButtonAsync" />
            }
        }
        if (Tweets[Tweets.Length - 1].UserId != Guid.Empty)
        {
            <GapTweetsLoadButtonComponent Index=@(Tweets.Length - 1) Since=@(DateTimeOffset.MinValue) Until=@(Tweets[Tweets.Length - 1].CreateAt) OnClick=OnClickGetGapTweets />
        }
    }
    else
    {
        <p>広大な空白はまるで南極のよう</p>
    }
</section>
