@page "/Home"
@attribute [Authorize]
@inherits PageBase
@*
    ログイン後のページ
*@

@* タイトル *@
<PageTitleComponent Title="ホーム" />

@* ツイート欄 *@
<section>
    <PostFormComponent UserAvatarUrl="@AvatarUrl" />
</section>
@* タイムライン *@
<section>
    @if (Tweets != null && Tweets.Any())
    {
        foreach (var tweet in Tweets)
        {
            <TweetComponent Tweet="tweet" />
        }
    }
    else
    {
        <p>広大な空白はまるで南極のよう</p>
    }
</section>
