@page "/Home"
@attribute [Authorize]
@inherits PageBase
@*
    ログイン後のページ
*@

@* タイトル *@
<PageTitle>ホーム - ツイハイ！</PageTitle>
<PageTitleComponent Title="ホーム" />

@* ツイート欄 *@
<section>
    <PostFormComponent UserAvatarUrl="@AvatarUrl" />
</section>
@* タイムライン *@
<section>
    <Virtualize Items="Tweets" Context="tweet">
        @if (tweet.UserId == Guid.Empty)
        {
        }
        else
        {
            <TweetComponent @key="tweet.Id" Tweet="tweet" IsMyTweet=@(tweet.UserId == MyTwiHithUserId) OnDeleteAction="OnClickDeleteButtonAsync" />
        }
    </Virtualize>
</section>
