@page "/Home"
@attribute [Authorize]
@inherits PageBase
@*
    ログイン後のページ
*@

@* タイトル *@
<PageTitle>ホーム - ツイハイ！</PageTitle>
<PageTitleComponent Title="ホーム" />

@* ツイート欄 *@
<section>
    <PostFormComponent UserAvatarUrl="@AvatarUrl"
                       OnClickAvatar="OnClickProfileEditor"
                       OnPostTweet="PostTweetAsync" />
</section>
@* タイムライン *@
<TimelineComponent Tweets="Tweets"
                   OnClickDelete="OnClickDeleteButtonAsync"
                   OnPostReply="PostTweetAsync"
                   OnClickProfileEditor="OnClickProfileEditor"
                   OnClickProfile="OnClickProfile"
                   OnClickGapTweetsLoad="OnClickGetGapTweets" />
