@page "/profile/editor"
@inherits PageBase
@attribute [Authorize]
@*
    プロフィール編集
*@

<PageTitle>@(Title) - ツイハイ！</PageTitle>
<PageTitleComponent Title="@Title" />

@if (User == null)
{
    <Loading />
}
else
{
    <section class="px-3">
        <div class="profile-header">
            @* アイコン *@
            <BigAvatarComponent UserAvatarUrl="@AvatarUrl" />
            <InputFile OnChange="LoadFiles" accept="image/png, image/jpeg" />
            @if (0 < LocalRowAvatarData.LongLength)
            {
                <button @onclick=OnClickAvatarResetButton>画像を元に戻す</button>
            }
        </div>

        @* プロフィール *@
        <div class="profile-display-name">
            <input type="text" @bind-value=@DisplayName />
        </div>
        <div>
            <input type="text" @bind-value=@DisplayId />
        </div>
        @* Bio *@
        <div class="profile-biography">
            <textarea @bind=@Biography />
        </div>
        <button @onclick=OnClickSaveButtonAsync>保存する</button>
    </section>
}
