<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>ツイハイ！ (Early Access)</title>
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="PheasantTails.TwiHigh.Beta.Server.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="512x512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="192x192.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@nr_ck" />
    <meta name="twitter:title" content="ツイハイ！ (Early Access)" />
    <meta name="twitter:description" content="ツイ廃が作った第２のTwitter。Twitterの代わりはツイハイ！で" />
    <meta name="twitter:image" content="https://twihighprostoragepublic.blob.core.windows.net/twihigh-images/512x512.png" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="ツイハイ！ (Early Access)" />
    <meta property="og:description" content="ツイ廃が作った第２のTwitter。Twitterの代わりはツイハイ！で" />
    <meta property="og:url" content="https://www.twi-high.com/" />
    <meta property="og:site_name" content="ツイハイ！ (Early Access)" />
    <meta property="og:image" content="https://twihighprostoragepublic.blob.core.windows.net/twihigh-images/512x512.png" />
    <HeadOutlet @rendermode="@RenderMode.InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="@RenderMode.InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>
    <!--
        <script>navigator.serviceWorker.register('service-worker.js');</script>
    -->
    <script src="_content/Toolbelt.Blazor.PWA.Updater.Service/script.min.js"></script>

    <script>
        function BlazorScrollToId(id) {
            const element = document.getElementById(id);
            if (element instanceof HTMLElement) {
                element.scrollIntoView({
                    behavior: "smooth",
                    block: "start",
                    inline: "nearest"
                });
            }
        }

        const onScrollEventHandler = function (event) {
            if (window.myScrollInfoService != null) {
                var timelineElement = document.getElementById('timeline');
                var WindowPositionTop = 0;// window.pageYOffset;
                var WindowHeight = document.documentElement.clientHeight;
                var visbles = [];

                for (let i = 0; i < timelineElement.children.length; i++) {
                    var child = timelineElement.children[i];
                    if (child.tagName != "ARTICLE" || child.id.slice(0, 5) !== "tweet") { continue; }
                    var rect = child.getBoundingClientRect();
                    if (WindowPositionTop <= rect.top && rect.top + rect.height <= WindowPositionTop + WindowHeight) {
                        visbles.push(child.id);
                    }
                }
                if (0 < visbles.length) {
                    window.myScrollInfoService.invokeMethodAsync('ScrolledVisbleArticles', visbles);
                }
            }
        }

        window.EnableScrollEventHandling = function () {
            window.addEventListener("scroll", onScrollEventHandler);
        }

        window.DisableScrollEventHandling = function () {
            window.removeEventListener("scroll", onScrollEventHandler);
        }

        window.RegisterScrollInfoService = function (scrollInfoService) {
            window.myScrollInfoService = scrollInfoService;
        }
    </script>
</body>

</html>
