@page "/Profile/{Id}/Follows"
@inherits PageBase

<PageTitle>@(Title) - ツイハイ！</PageTitle>
<PageTitleComponent Title="@Title" />

<section>
    @if (UserFollowers == null)
    {
        <Loading />
    }
    else if (0 < UserFollowers.Length)
    {
        @foreach (var user in UserFollowers)
        {
            <TwiHighUserComponent User="user" />
        }
    }
    else
    {
        <NoContentsComponent NoContentsText="フォロー中のアカウントはありません。" />
    }
</section>