@using Toolbelt.Blazor.PWA.Updater
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>

        <section style="position: fixed; bottom: 0; z-index: 100; width: 100%; max-width: -webkit-fill-available;">
            @foreach (var item in MessageService.Messages)
            {
                <MessageComponent Context="item" />
            }
        </section>
    </main>

</div>

<PWAUpdater Text="TwiHighの新しいバージョンがあります！" ButtonCaption="アップデートする" Align="PWAUpdater.Aligns.Buttom" />
