@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment HostEnvironment
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ツイハイ！</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="signup">
                        <span class="oi oi-check" aria-hidden="true"></span> 参加する
                    </NavLink>
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> ログイン
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    <NavLink class="nav-link" href="home">
                        <span class="oi oi-home" aria-hidden="true"></span> ホーム
                    </NavLink>
                    <NavLink class="nav-link" href="clear">
                        <span class="oi oi-delete" aria-hidden="true"></span> キャッシュクリア
                    </NavLink>
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> ログアウト
                    </NavLink>
                </Authorized>
            </AuthorizeView>
            <span class="version">
                Version @Program.TwiHighVersion (@HostEnvironment.Environment)
            </span>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
