@page "/Home"
@*
    Home page
*@
@attribute [Authorize]
@inherits TwiHighPageBase

@* Title *@
<PageTitle>ホーム - ツイハイ！</PageTitle>
<PageTitleComponent Title="ホーム" />

@* Tweet post form *@
<section>
    <PostFormComponent UserAvatarUrl="@AvatarUrl"
                       OnClickAvatar="OnClickProfileEditor"
                       OnPostTweet="PostTweetAsync"
                       IsForceForcus=true />
</section>

@* Timeline *@
@if (Tweets == null)
{
    <NoContentsComponent NoContentsText="@("まずは @twihigh をフォローしてみよう！")" />
}
else
{

    <TimelineComponent @key="MyTwiHithUserId"
                   Tweets="Tweets"
                   MyTwiHithUserId=MyTwiHithUserId
                   OnClickDelete="OnClickDeleteButtonAsync"
                   OnPostReply="PostTweetAsync"
                   OnClickProfileEditor="OnClickProfileEditor"
                   OnClickProfile="OnClickProfile"
                   OnClickGapTweetsLoad="OnClickGetGapTweets"
                   OnClickDetail="OnClickDetail" />
}