@page "/Home"
@*
    Home page
*@
@attribute [Authorize]
@inherits TwiHighPageBase
@inject IHomeViewModel ViewModel

@* Title *@
<PageTitle>ホーム - ツイハイ！</PageTitle>
<THPageHeaderTitle Title="ホーム" />

@* Tweet post form *@
<section>
    <THPostForm UserAvatarUrl="@ViewModel.AvatarUrl.Value"
                OnClickAvatarCommand="ViewModel.NavigateProfileEditorPageCommand"
                OnPostTweetCommand="ViewModel.PostTweetCommand"
                IsForceForcus=true />
</section>

@* Timeline *@
@if (Tweets == null)
{
    <THNoContents NoContentsText="@("まずは @twihigh をフォローしてみよう！")" />
}
else
{

    <TimelineComponent @key="MyTwiHithUserId"
                       Tweets="Tweets"
                       MyTwiHithUserId=MyTwiHithUserId
                       OnClickDelete="async () => await ViewModel.DeleteMyTweetCommand.ExecuteAsync();"
                       OnPostReply="PostTweetAsync"
                       OnClickProfileEditor="OnClickProfileEditor"
                       OnClickProfile="OnClickProfile"
                       OnClickGapTweetsLoad="OnClickGetGapTweets"
                       OnClickDetail="OnClickDetail" />
}