@*
    Login page
    This page is static server side rendering(Static SSR).
*@
@page "/Login"
@inherits TwiHighPageBase
@*
    ref: https://zenn.dev/microsoft/articles/aspnetcore-blazor-dotnet8-tryaddauth
*@

@* Html heddaer *@
<PageTitle>ログイン - @(BRAND_NAME)</PageTitle>
<THOpenGraphProtocol Title="@($"ログイン - {BRAND_NAME}")" />

@* Login form *@
<section>
    <EditForm FormName="login-form" EditContext="EditContext" OnValidSubmit="HandleValidSubmitAsync" class="login-form">
        <DataAnnotationsValidator />
        <ValidationSummary Model="Model" />
        
        @* Form title *@
        <h2>ツイハイにログイン</h2>

        @* Display id *@
        <div class="login-form-group">
            <label for="user-display-id">アカウントID</label>
            <InputText type="text" @bind-Value="Model.DisplayId" />
        </div>

        @* password *@
        <div class="login-form-group">
            <label for="user-password">パスワード</label>
            <InputText type="password" @bind-Value="Model.PlainPassword" />
        </div>

        @* Validation messages *@
        <div>
            <ValidationMessage For="() => Model.DisplayId" />
            <ValidationMessage For="() => Model.PlainPassword" />
        </div>

        @* Submit button *@
        <div class="login-form-group">
            <button type="submit" class="login-form-submit-button">
                <span>ログインする</span>
            </button>
        </div>
    </EditForm>
</section>
