@*
    Signup page.
*@
@page "/SignUp"
@inherits TwiHighPageBase

@* Html headdaer *@
<PageTitle>参加する - @(BRAND_NAME)</PageTitle>
<THOpenGraphProtocol Title="@($"参加する - {BRAND_NAME}")"
                     Description="@($"{BRAND_NAME}にアカウントを作ろう！　Twitterの代わりは{BRAND_NAME}で！")" />
@* Signup form *@
<section>
    <EditForm FormName="login-form" EditContext="EditContext" class="login-form" OnValidSubmit="HandleValidSubmitAsync">
        <DataAnnotationsValidator />
        <ValidationSummary Model="Model" />

        @* Form title *@
        <h2>ツイハイに参加する</h2>

        @* Email *@
        <div class="login-form-group">
            <label for="user-display-id">E-mail</label>
            <InputText type="text" @bind-Value=Model.Email />
        </div>

        @* Display Id*@
        <div class="login-form-group">
            <label for="user-display-id">アカウントID</label>
            <InputText type="text" @bind-Value=Model.DisplayId />
        </div>

        @* password *@
        <div class="login-form-group">
            <label for="user-password">パスワード</label>
            <InputText type="password" @bind-Value=Model.PlainPassword />
        </div>

        @* Validation messages *@
        <div>
            <ValidationMessage For="() => Model.Email" />
            <ValidationMessage For="() => Model.DisplayId" />
            <ValidationMessage For="() => Model.PlainPassword" />
        </div>

        @* Submit button*@
        <div class="login-form-group">
            <button type="submit" class="login-form-submit-button">
                <span>
                    アカウントを作成する
                </span>
            </button>
        </div>
    </EditForm>
</section>