.user-avatar-icon {
    min-height: 48px;
    min-width: 48px;
}

    .user-avatar-icon img {
        height: 100%;
        width: 100%;
        border-radius: 100%;
        cursor: pointer;
        object-fit: cover;
    }
