<AuthorizeView>
    <Authorized>
        @if (IsFollowing)
        {
            <button class="button-following"
                @onmouseover=OnMouseOverRemoveButton
                @onmouseout=OnMouseOutRemoveButton
                @onclick=OnClickRemoveButton>
                @FollowedButtonText
            </button>
        }
        else
        {
            <button class="button-follow" @onclick=OnClickFollowButton>フォローする</button>
        }
    </Authorized>
</AuthorizeView>