.no-content-article {
    padding-top: 48px;
    padding-right: 12px;
    padding-bottom: 48px;
    padding-left: 12px;
    width: 100%;
    border-top-width: 0.8px;
    border-top-style: solid;
    border-top-color: rgb(239, 243, 244);
    border-bottom-width: 0.8px;
    border-bottom-style: solid;
    border-bottom-color: rgb(239, 243, 244);
}

    .no-content-article span {
        display: block;
        text-align: center;
        color: rgb(83, 100, 113);
        line-height: 20px;
        font-size: 15px;
        font-weight: 400;
        word-wrap: break-word;
    }
