@inherits UIComponentBase
@* ツイート外枠 *@
<section>
    @if (Tweets != null)
    {
        <Virtualize Items="@Tweets" Context="Tweet" ItemSize="72" OverscanCount="15">
            @if (Tweet.IsSystemTweet)
            {
                <GapTweetsLoadButtonComponent @key="Tweet.Id" Tweet="Tweet" OnClick="OnClickGapTweetsLoadAsync" />
                Console.WriteLine("This is system: " + Tweet.Id);
            }
            else
            {
                <TweetComponent @key="Tweet.Id"
                        Tweet="Tweet"
                        IsMyTweet=@(MyTwiHithUserId == Tweet.UserId)
                        OnClickDelete="OnClickDeleteAsync"
                        OnClickDetail="OnClickDetailAsync"
                        OnClickFavorite="OnClickFavoriteAsync"
                        OnClickProfile="OnClickProfileAsync"
                        OnClickRetweet="OnClickRetweetAsync"
                        OnPostReply="OnClickReplyAsync"
                        OnClickProfileEditor="OnClickProfileEditorAsync" />
                Console.WriteLine(Tweet.Id);
            }
        </Virtualize>
    }
</section>