@namespace PheasantTails.TwiHigh.BlazorApp.Client.Views.Components
@inherits TwiHighComponentBase
@rendermode InteractiveAuto
<section style="position: fixed; bottom: 0; z-index: 100; width: 100%; max-width: 640px;">
    @foreach (var item in MessageService.Messages)
    {
        <THMessage Context="item" />
    }
</section>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        MessageServiceStart();
    }

    public override void Dispose()
    {
        MessageServiceStop();
        base.Dispose();
    }
}