@inherits TwiHighComponentBase
@* ツイート外枠 *@
<section id="timeline">
    @if (Tweets == null)
    {
        <THLoading />
    }
    else if (!Tweets.Any())
    {
        <THNoContents />
    }
    else
    {
        <Virtualize Items="@Tweets" Context="Tweet" ItemSize="72" OverscanCount="15">
            @if (Tweet.IsSystemTweet)
            {
                <THGapTweetsFetchButton @key="Tweet.Id" Tweet="Tweet" OnClick="OnClickGapTweetsLoadAsync" />
            }
            else
            {
                <THTweet @key="Tweet.Id"
                        Tweet="Tweet"
                        IsMyTweet=@(MyTwiHithUserId == Tweet.UserId)
                        OnClickDelete="OnClickDeleteAsync"
                        OnClickDetail="OnClickDetailAsync"
                        OnClickFavorite="OnClickFavoriteAsync"
                        OnClickProfile="OnClickProfileAsync"
                        OnClickRetweet="OnClickRetweetAsync"
                        OnPostReply="OnClickReplyAsync"
                        OnClickProfileEditor="OnClickProfileEditorAsync" />
            }
        </Virtualize>
    }
</section>