@using Toolbelt.Blazor.PWA.Updater
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <THNavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>

        <THMessageArea />
    </main>
</div>

<div id="blazor-error-ui">
    ごめんなさい。うちのペンギンがまたやらかしたようです！
    <a href="" class="reload">ページを更新してエラーを解消する</a>
    <a class="dismiss">🗙</a>
</div>

<PWAUpdater Text="TwiHighの新しいバージョンがあります！" ButtonCaption="アップデートする" Align="PWAUpdater.Aligns.Buttom" />
