<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="PheasantTails.TwiHigh.BlazorApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    @* Additional tags *@
    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="512x512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="192x192.png" />
    @* Additional tags *@

    <HeadOutlet @rendermode="@InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="@InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>

    @* Additional tags *@
    <script>navigator.serviceWorker.register('service-worker.js');</script>
    @* Additional tags *@

</body>

</html>
