@page "/Home"
@*
    ログイン後のページ
*@

@* タイトル *@
<PageTitle>ホーム - ツイハイ！</PageTitle>
@*<PageTitleComponent Title="ホーム" />*@

@* ツイート欄 *@
@*
<section>
    <PostFormComponent UserAvatarUrl="@AvatarUrl"
                       OnClickAvatar="OnClickProfileEditor"
                       OnPostTweet="PostTweetAsync"
                       IsForceForcus=true />
</section>
*@
@* タイムライン *@
@*
@if (Tweets == null)
{
    <NoContentsComponent NoContentsText="@("まずは @twihigh をフォローしてみよう！")" />
}
else
{

    <TimelineComponent @key="MyTwiHithUserId"
                   Tweets="Tweets"
                   MyTwiHithUserId=MyTwiHithUserId
                   OnClickDelete="OnClickDeleteButtonAsync"
                   OnPostReply="PostTweetAsync"
                   OnClickProfileEditor="OnClickProfileEditor"
                   OnClickProfile="OnClickProfile"
                   OnClickGapTweetsLoad="OnClickGetGapTweets"
                   OnClickDetail="OnClickDetail" />
}
*@