@page "/Home"
@inject ITimelineWorkerService TimelineWorkerService
@inject HomeViewModel ViewModel
@*
    ログイン後のページ
*@

@* タイトル *@
<PageTitle>ホーム - ツイハイ！</PageTitle>
@*<PageTitleComponent Title="ホーム" />*@

@* ツイート欄 *@
@*
<section>
    <PostFormComponent UserAvatarUrl="@AvatarUrl"
                       OnClickAvatar="OnClickProfileEditor"
                       OnPostTweet="PostTweetAsync"
                       IsForceForcus=true />
</section>
*@
@* タイムライン *@

@if (TimelineWorkerService.Timeline.Count == 0)
{
    <NoContentsComponent NoContentsText="@("まずは @twihigh をフォローしてみよう！")" />
}
else
{

    <NoContentsComponent NoContentsText="@($"{TimelineWorkerService.Timeline.Count} 件")" />
    @*
    <TimelineComponent @key="MyTwiHithUserId"
                   Tweets="Tweets"
                   MyTwiHithUserId=MyTwiHithUserId
                   OnClickDelete="OnClickDeleteButtonAsync"
                   OnPostReply="PostTweetAsync"
                   OnClickProfileEditor="OnClickProfileEditor"
                   OnClickProfile="OnClickProfile"
                   OnClickGapTweetsLoad="OnClickGetGapTweets"
                   OnClickDetail="OnClickDetail" />
                   *@
}
